.a-f-e {
	display: inline-block; position: relative;
}
* html .a-f-e {
	display: inline;
}
*:first-child + html .a-f-e {
	display: inline;
}
p {
	width: 500px;
}
iframe {
	width: 100%;
}
.sUa {
	float: left; white-space: nowrap;
}
.h-cp-Lh-iHa {
	margin: 0px; padding: 0px;
}
.h-cp-Lh-DLa {
	margin: 0px; padding: 5px; background-color: rgb(255, 255, 255);
}
.E7 {
	outline: 0px; text-decoration: none; display: block; position: relative; cursor: pointer;
}
.Or .aBa {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/spin.gif"); margin: auto; left: 0px; top: 0px; width: 10px; height: 10px; right: 0px; bottom: 0px; position: absolute;
}
.mUa {
	color: rgb(102, 102, 102); font-family: arial,sans-serif; vertical-align: top;
}
.Xq {
	width: 24px; height: 15px;
}
.Sh .Xq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -463px;
}
.Sh .Xq:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat -33px -720px;
}
.Sh .Xq:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat -33px -342px;
}
.Qi .Xq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -125px;
}
.Qi .Xq:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -626px;
}
.Qi .Xq:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat -25px -626px;
}
.yT .Xq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -663px;
}
.Or .Xq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -233px;
}
.Wq {
	width: 32px; height: 20px;
}
.Sh .Wq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -720px;
}
.Sh .Wq:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -766px;
}
.Sh .Wq:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat -25px -463px;
}
.Qi .Wq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -104px;
}
.Qi .Wq:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -342px;
}
.Qi .Wq:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat -25px -233px;
}
.yT .Wq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -254px;
}
.Or .Wq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -642px;
}
.bj {
	width: 38px; height: 24px;
}
.Sh .bj {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -43px;
}
.Sh .bj:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -413px;
}
.Sh .bj:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -576px;
}
.Qi .bj {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -141px;
}
.Qi .bj:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -484px;
}
.Qi .bj:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -741px;
}
.yT .bj {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -809px;
}
.Or .bj {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -530px;
}
.Vq {
	width: 50px; height: 20px;
}
.Sh .Vq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -555px;
}
.Sh .Vq:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -509px;
}
.Sh .Vq:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -275px;
}
.Qi .Vq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -212px;
}
.Qi .Vq:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -321px;
}
.Qi .Vq:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px 0px;
}
.yT .Vq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -787px;
}
.Or .Vq {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -21px;
}
.h5 {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -68px; width: 50px; height: 35px; text-align: center; overflow: hidden; margin-bottom: 5px;
}
.h5 .lUa {
	padding-top: 6px;
}
.h5 {
	font-size: 15px;
}
.wI {
	float: left;
}
.vI {
	float: left;
}
.uI {
	float: left;
}
.rY {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat; float: left;
}
.sY {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat; float: left;
}
.s1 {
	background: rgb(255, 255, 255); border-width: 1px; border-style: solid none; border-color: rgb(204, 204, 204); float: left;
}
.t1 {
	color: rgb(102, 102, 102); overflow: hidden; font-family: arial,sans-serif; white-space: nowrap;
}
.Sh .bj.tY {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -388px;
}
.Sh .bj.tY:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -679px;
}
.Sh .bj.tY:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -438px;
}
.Qi .bj.tY {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -166px;
}
.Qi .bj.tY:hover {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -601px;
}
.Qi .bj.tY:active {
	background: url("//ssl.gstatic.com/s2/oz/images/stars/po/Publisher/sprite4-a67f741843ffc4220554c34bd01bb0bb.png") no-repeat 0px -296px;
}
.OJa {
	font: 16px/normal arial, sans-serif; color: rgb(85, 85, 85); font-size-adjust: none; font-stretch: normal;
}
.PJa {
	font: 16px/normal arial, sans-serif; color: rgb(255, 255, 255); font-size-adjust: none; font-stretch: normal;
}
.jUa {
	height: 24px; margin-right: 7px;
}
.wI {
	padding-right: 2px; padding-left: 2px;
}
.wI .rY {
	background-position: 0px -704px; width: 5px; height: 15px;
}
.wI .sY {
	background-position: -34px -704px; width: 2px; height: 15px;
}
.wI .s1 {
	min-width: 5px; max-width: 37px;
}
.wI .t1 {
	margin: 1px 5px; height: 11px; line-height: 12px; font-size: 10px;
}
.vI {
	padding-right: 1px; padding-left: 1px;
}
.vI .rY {
	background-position: 0px -191px; width: 6px; height: 20px;
}
.vI .sY {
	background-position: -45px -191px; width: 2px; height: 20px;
}
.vI .s1 {
	min-width: 10px; max-width: 47px;
}
.vI .t1 {
	margin: 1px 6px; height: 16px; line-height: 17px; font-size: 11px;
}
.uI {
	padding-right: 1px; padding-left: 1px;
}
.uI .rY {
	background-position: 0px -363px; width: 6px; height: 24px;
}
.uI .sY {
	background-position: -55px -363px; width: 2px; height: 24px;
}
.uI .s1 {
	min-width: 12px; max-width: 57px;
}
.uI .t1 {
	margin: 1px 6px; height: 20px; line-height: 21px; font-size: 12px;
}
.wV {
	font: 11px arial, sans-serif; color: rgb(102, 102, 102); display: inline-block; white-space: normal; font-size-adjust: none; font-stretch: normal;
}
.QJa {
	border: 1px solid rgb(102, 102, 102);
}
.TJa {
	vertical-align: top;
}
.UJa {
	padding-left: 1px;
}
.zFa {
	color: rgb(51, 102, 204); text-decoration: none;
}
.Lva {
	padding-right: 5px; vertical-align: top; white-space: nowrap;
}
.nda {
	display: table; border-collapse: collapse;
}
.qya {
	display: table-row;
}
.rZ {
	padding: 0px; text-align: left; font-size: 11px; display: table-cell; border-spacing: 0;
}
.yFa.wV {
	overflow: hidden; padding-bottom: 0.1em; display: inline; white-space: nowrap; text-overflow: ellipsis;
}
.xFa {
	line-height: 10px !important;
}
.oUa {
	width: 100%; padding-left: 8px;
}
.nUa {
	color: rgb(51, 51, 51); font-family: arial,sans-serif; font-size: 16px; font-weight: bold; margin-top: 3px;
}
.pUa {
	color: rgb(34, 34, 34); font-family: arial,sans-serif; font-size: 11px; margin-top: -3px;
}
.qUa {
	color: rgb(255, 255, 255); font-family: arial,sans-serif; font-size: 11px; margin-top: -3px;
}
.RJa {
	padding-top: 5px; vertical-align: top;
}
.ng {
	border-radius: 3px; font-family: arial,sans-serif; font-weight: bold; text-decoration: none; float: left; display: inline-block; white-space: nowrap; position: relative; cursor: pointer; -webkit-border-radius: 3px; -moz-border-radius: 3px; -webkit-user-select: none; -moz-user-select: none;
}
.Fz .ng {
	line-height: 10px; font-size: 9px;
}
.Gz .ng {
	line-height: 14px; font-size: 11px;
}
.Hz .ng {
	line-height: 14px; font-size: 11px;
}
.PT .ng {
	line-height: 32px; font-size: 30px;
}
.dm {
	bottom: 0px; display: inline-block; position: absolute;
}
.Fz .ng {
	padding: 1px 5px 2px 15px;
}
.Gz .ng {
	padding: 2px 8px 2px 17px;
}
.Hz .ng {
	padding: 4px 18px 4px 32px;
}
.PT .ng {
	padding: 13px 25px 13px 75px;
}
.dm {
	left: 0px;
}
.ss.ng {
	border-width: 1px; border-style: solid; border-color: rgb(202, 202, 202) rgb(186, 186, 186) rgb(172, 172, 172); color: rgb(218, 87, 59); background-color: rgb(228, 228, 228); text-shadow: 0 1px 3px rgba(255, 255, 255, .7);
}
.ss.ng:hover {
	box-shadow: inset 0px 1px 3px rgba(255,255,255,0.2); background-color: rgb(244, 244, 244); -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2); -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2);
}
.ss.ng:active {
	border-width: 1px; border-style: solid; border-color: rgb(172, 172, 172) rgb(186, 186, 186) rgb(202, 202, 202); box-shadow: inset 0px 1px 3px rgba(101,101,101,0.2); background-color: rgb(226, 226, 226); -webkit-box-shadow: inset 0 1px 3px rgba(101, 101, 101, .2); -moz-box-shadow: inset 0 1px 3px rgba(101, 101, 101, .2);
}
.ts.ng {
	border: 1px solid rgb(196, 61, 32); color: rgb(255, 255, 255); box-shadow: inset 0px 1px 3px rgba(255,255,255,0.2); background-color: rgb(209, 66, 40); text-shadow: 0 1px 0 rgba(0, 0, 0, .3); -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2); -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2);
}
.ts.ng:hover {
	border-width: 1px; border-style: solid; border-color: rgb(150, 48, 36) rgb(136, 38, 26) rgb(132, 33, 20); box-shadow: inset 0px 1px 3px rgba(255,255,255,0.2); background-color: rgb(208, 64, 40); -webkit-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2); -moz-box-shadow: inset 0 1px 3px rgba(255, 255, 255, .2);
}
.ts.ng:active {
	border-width: 1px; border-style: solid; border-color: rgb(132, 33, 20) rgb(136, 38, 26) rgb(150, 48, 36); box-shadow: inset 0px 1px 3px rgba(0,0,0,0.2); background-color: rgb(208, 65, 40); -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2); -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
}
.pKa {
	padding: 5px 0px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); height: 19px; background-color: rgb(255, 255, 255); -webkit-border-radius: 3px; -moz-border-radius: 3px;
}
.rKa {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -29px -122px; width: 7px; height: 5px; margin-top: -1px; margin-right: auto; margin-left: auto;
}
.qKa {
	height: 35px; text-align: center; overflow: hidden; font-size: 15px; margin-bottom: 5px;
}
.Fz .ts .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -6px -145px; width: 13px; height: 11px;
}
.Fz .ss .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -15px -122px; width: 13px; height: 11px;
}
.Gz .ts .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -37px -122px; width: 14px; height: 14px;
}
.Gz .ss .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat 0px -122px; width: 14px; height: 14px;
}
.Hz .ts .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat 0px -102px; width: 20px; height: 19px;
}
.Hz .ss .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -27px -102px; width: 20px; height: 19px;
}
.PT .ts .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat 0px -51px; width: 54px; height: 50px;
}
.PT .ss .dm {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat 0px 0px; width: 54px; height: 50px;
}
.Fz .M2 {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat 0px -145px; width: 5px; height: 15px;
}
.Fz .N2 {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -33px -137px; width: 2px; height: 15px;
}
.Gz .M2 {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -36px -137px; width: 6px; height: 20px;
}
.Gz .N2 {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -23px -137px; width: 2px; height: 20px;
}
.Hz .M2 {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -26px -137px; width: 6px; height: 24px;
}
.Hz .N2 {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/plus-button-2a2fe15d95807d1a7dbfae0919cbad51.png") no-repeat -20px -137px; width: 2px; height: 24px;
}
.Ct {
	background: url("//ssl.gstatic.com/s2/oz/images/sprites/hangouts-4923bdd399b20dbb832fefd7b274d8fc.png") no-repeat 0px 0px / 77px 73px; width: 77px; height: 73px;
}
sentinel {
	
}
